{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<head>

</head>
</head>
<style>
    

	body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #003738; /* Light background for better contrast */
    padding: 15px;
}
   .form-container {
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    width: 600px;
	height: 700px;
    margin-left: 450px;
	background: #004E4F;
   }
   .text-muted{
	color:#fff;
   }

   
</style>

<body>
				<!-- Main -->
					<div id="main">
                        <div class = "form-container container bg-white shadow-md p-5"> 
                            <h3>Login to your account</h3>
                            <BR><BR>
                            <h5>Compose your Favorite Post Today</h5>
                            <br>
                            <form method="POST" autocomplete="off">
                                {% csrf_token %}
                                {{form|crispy}}   
                        <br>
								<button type ="submit" id ="sub_btn" class="btn btn-sm" style ="width:150px; height: 50px;"> &nbsp; Sign IN </button>
								<br><br>
								<small class="text-muted">
                            	<a class="ml-2" href="{% url 'password_reset' %}"> Forgot Password?</a>
                                </small>
                
                            </form>
                            <div class=""border-top pt-3">
                                <small class="text-muted">
                                    You don't have an account? <a class="ml-2" href="{% url 'register' %}"> Sign up</a>
                                </small>
                            
                            
                            </div>
                        
                    	</div>


					</div>

	</body>
</html>
{% endblock %}