{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<head>

</head>
</head>
<style>
    

	body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #003738; /* Light background for better contrast */
    padding: 15px;
}
   .form-container {
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    width: 700px;
	height: 500px;
    margin-left: 400px;
	background: #004E4F;
   }
   .text-muted{
	color:#fff;
   }

   
</style>

<body>
				<!-- Main -->
					<div id="main">

						<!-- Post -->
							
						<!-- Post -->
                        <div class = "form-container container  shadow-md p-5"> 
                            <h3>You have been signed out</h3>
                            <BR>
                            <h5> Sign in to compose your Favorite Post Today</h5>
                            <br>
                            <form method="POST" autocomplete="off">
                                {% csrf_token %}
                                {{form|crispy}}   
                        <br>
                                <a href="{% url 'login' %}" class="button large fit" style ="width:150px; height: 50px;">Sign In</a>
                            </form>
                            <div class=""border-top pt-3">
                                <small class="text-muted">
                                    You don't have an account? <a class="ml-2" href="{% url 'register' %}"> Sign up</a>
                                </small>
                            
                            
                            </div>
                        
                    	</div>


					</div>

	</body>
</html>
{% endblock %}